
<mat-toolbar color="primary">
  <!-- <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row> -->

  <mat-toolbar-row>
    <span>Main Menu</span>
    <span class="example-spacer"></span>
    <mat-icon class="material-icons" [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item routerLink="materialTestForm">
        <!-- <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span> -->
          <mat-icon class="material-icons">
            ballot
          </mat-icon>
          <span>Material form</span>
      </button>
      <button mat-menu-item routerLink="templateForm">
        <!-- <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span> -->
        <mat-icon class="material-icons">
          ballot
        </mat-icon>
        <span>Template simple form</span>
      </button>
      <button mat-menu-item routerLink="reactiveTestForm">
        <mat-icon class="material-icons">
          ballot
        </mat-icon>
        <span>Form reactive</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

</mat-toolbar>

<!-- <button mat-button>Basic</button> -->

<router-outlet></router-outlet>
